<!DOCTYPE HTML>

<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <h2>Countries App</h2>
    <button class='newCountry'>Add Country</button>
    <br/>
    <% country.forEach(function(country){ %>
      <div class = 'country'>
        <img src = <%= country.flag %> alt='No Flag Found'/>
        <br/>
        <br/>
        <b> <%= country.name %> </b>
        <br/>
        <br/>
        <b> Capitol: </b> <%= country.capitol %>
        <br/>
        <b> Population: </b> <%= country.population %>
        <br/>
        <br/>
        <button class='editCountry' data-url='/countries/<%= country.id %>'>Edit Country</button>
        <br/>
        <button class='deleteCountry' data-url='/countries/<%= country.id %>'>Delete Country</button>
      </div>
    <% }) %>
  </body>
</html>
